{% load static %}
<!-- Footer Area Start -->
<footer class="footer-area">
    <div class="footer-top pt--50 pb--100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-info mt--60">
                        <div class="logo">
                            <a href="#"><img src="{% static 'images/logo/logo-2.png' %}" alt=""></a>
                        </div>
                        <p>It is a long established fact that a reader will page when looking at its layout.  all reader will page when looking </p>
                        <ul class="social">
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-info  mt--60">
                        <div class="footer-title">
                            <h3>SERVICES</h3>
                        </div>
                        <ul class="footer-list">
                            <li><a href="#">Heating Repair</a></li>
                            <li><a href="#">Plumbing Services</a></li>
                            <li><a href="#">Air Conditioning Repair</a></li>
                            <li><a href="#">Electrical Services</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-info  mt--60">
                        <div class="footer-title">
                            <h3>INSTAGRAM FEED</h3>
                        </div>
                        <ul class="footer-list-instagram">
                            <li><a href="#"><img src="{% static 'images/instagram/ins-1.jpg' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'images/instagram/ins-2.jpg' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'images/instagram/ins-3.jpg' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'images/instagram/ins-4.jpg' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'images/instagram/ins-5.jpg' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'images/instagram/ins-6.jpg' %}" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-info  mt--60">
                        <div class="footer-title">
                            <h3>QUICK CONTACT</h3>
                        </div>
                        <ul class="footer-list">
                            <li>Greenline, 4/3 north cornn <br> walinon, Usa.</li>
                            <li><a href="#">airconserv11@gmail.com</a></li>
                            <li><a href="#">+88345 789 456</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-bottom-inner text-center">
                        <p>Copyright &copy; <a href="https://freethemescloud.com/">Aircon</a> 2022 All Right Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->