        
        <!-- header-bottom-area Start -->
        <div class="header-bottom-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-menu-wrap border-top-1">
                            <!-- main-menu-area Start -->
                            <div class="main-menu">
                                <nav class="main-navigation">
                                    <ul>
                                        <li class="active"><a href="{% url 'home' %}">HOME</a>
                                            {% comment %} <ul class="sub-menu">
                                                <li><a href="index.html">Home Page 1</a></li>
                                                <li><a href="index-2.html">Home Page 2</a></li>
                                                <li><a href="index-box.html">Home Box Layout 1</a></li>
                                                <li><a href="index-2-box.html">Home Box Layout 2</a></li>
                                            </ul> {% endcomment %}
                                        </li>
                                        <li><a href="{% url 'about-us' %}">ABOUT US</a>
                                            {% comment %} <ul class="sub-menu">
                                                <li><a href="about-box.html">About Box Page</a></li>
                                            </ul> {% endcomment %}
                                        </li>
                                        <li><a href="{% url 'services' %}">SERVICES</a>
                                            {% comment %} <ul class="sub-menu">
                                                <li><a href="services-box.html">Services Box Page</a></li>
                                                <li><a href="single-services.html">Single Services</a></li>
                                                <li><a href="single-services-box.html">Single Services Box</a></li>
                                            </ul> {% endcomment %}
                                        </li>
                                        <li><a href="{% url 'team' %}">TEAM</a>
                                            {% comment %} <ul class="sub-menu">
                                                <li><a href="team-box.html">Team Box Page</a></li>
                                            </ul> {% endcomment %}
                                        </li>
                                        {% comment %} <li><a href="blog.html">BLOG</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog.html">Blog Right Sidebar</a></li>
                                                <li><a href="blog-box.html">Blog Box Right Sidebar</a></li>
                                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                                <li><a href="blog-left-sidebar-box.html">Blog Box Left Sidebar</a></li>
                                                <li><a href="blog-fullwidth.html">Blog Grid Fullwidth</a></li>
                                                <li><a href="blog-fullwidth-box.html">Blog Box Grid Fullwidth</a></li>
                                                <li><a href="blog-details.html">Blog Details Right Sidebar</a></li>
                                                <li><a href="blog-details-box.html">Blog Box Details Right Sidebar</a></li>
                                                <li><a href="blog-details-left-sidebar.html">Blog Details Left Sidebar</a></li>
                                                <li><a href="blog-details-left-sidebar-box.html">Blog Box Details Left Sidebar</a></li>
                                            </ul>
                                        </li> {% endcomment %}
                                        <li><a href="{% url 'contect-us' %}">CONTACT</a>
                                            {% comment %} <ul class="sub-menu">
                                                <li><a href="contact-box.html">Contact Box Page</a></li>
                                            </ul> {% endcomment %}
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- main-menu-area End -->

                            <!-- Make-apoinmant Start -->
                            <div class="make-apoinmant-button">
                                <a href="{% url 'Appointment' %}" class="default-btn border-radius" onclick="openForm()">Make Appointment</a>
                            </div>
                            <!-- Make-apoinmant End -->
                        </div>
                    </div>
                    <div class="col">
                        <!-- mobile-menu start -->
                        <div class="mobile-menu d-block d-lg-none"></div>
                        <!-- mobile-menu end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-bottom-area End -->
        
    </div>
    <!-- header-area end -->
