{% load static %}
    <!-- header-area start -->
    <div class="header-area">
       
        <!-- header-top start -->
        <div class="header-top pt--20 pb--20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-3 col-12">
                        <!-- logo start -->
                        <div class="logo">
                            <a href="index.html"><img src="{% static 'images/logo/logo.jpg' %}" alt="logo"></a>
                        </div>
                        <!-- logo End -->
                    </div>
                    <div class="col-lg-8 col-md-9 col-12">
                        <!-- Contact-information-top Start -->
                        <div class="contact-information-top">
                           
                            <!-- Single-information-top Start -->
                            <div class="single-information-top">
                                <div class="info-icon">
                                    <i class="icofont-headphone-alt-2"></i>
                                </div>
                                <div class="info-content">
                                    <h4>Call Us Now </h4>
                                    <p>+03476298</p>
                                </div>
                            </div>
                            <!-- Single-information-top End -->
                            
                            <!-- Single-information-top Start -->
                            <div class="single-information-top">
                                <div class="info-icon">
                                    <i class="icofont-clock-time"></i>
                                </div>
                                <div class="info-content">
                                    <h4>Mon - Satday</h4>
                                    <p>9.00 am - 5.00 pm</p>
                                </div>
                            </div>
                            <!-- Single-information-top End -->
                            
                        </div>
                        <!-- Contact-information-top End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-top end -->
