{% load static %}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Aircon - Heating and Air Conditioning</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    
    <!-- CSS 
    ========================= -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <!-- Fonts CSS -->
    <link rel="stylesheet" href="{% static 'css/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pe-icon-7-stroke.css' %}">
    
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <!-- Modernizer JS -->
    <script>
        function openForm() {
          document.getElementById("myAppointment").style.display = "block";
        }
        
        function closeForm() {
          document.getElementById("myAppointment").style.display = "none";
        }
        </script>
</head>

    {% include 'includes/topbar.html' %}
    {% include 'includes/nevbar.html' %}
    {%block content%}
    <body>
        
        
    </body>
    
    
    {% endblock content%}
    {% include 'includes/footer.html' %}


<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<!-- Popper JS -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Plugins JS -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Ajax Mail -->
<script src="{% static 'js/ajax-mail.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>



</html>